# IBM Capstone Notebook

#### *Stuart McGill's Project for the Coursera Applied Data Science Capstone Course*

## Assignment 1

The purpose of this notebook is to fulfil the requirements of the Coursera Applied Data Science Capstone Course.

In [1]:
import numpy as np
import pandas as pd

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

## Assignment 2: Segmenting and Clustering Neighborhoods in Toronto

**Part 1: Scraping post code data from Wikipedia**

Pandas is used to read the postcode data from Wikipedia

In [39]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
canada_postcodes = pd.read_html(url)[0]
canada_postcodes.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Removing rows where the Borough is not assigned

In [40]:
canada_postcodes = canada_postcodes[ canada_postcodes['Borough'] != 'Not assigned']
canada_postcodes.head(10)

   Postcode           Borough      Neighborhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M6A        North York  Lawrence Heights
6       M6A        North York    Lawrence Manor
7       M7A  Downtown Toronto      Queen's Park
9       M9A      Queen's Park      Not assigned
10      M1B       Scarborough             Rouge
11      M1B       Scarborough           Malvern
13      M3B        North York   Don Mills North

Renaming neighborhoods that are not assigned with borough

In [41]:
no_neighborhood_index =  canada_postcodes['Neighborhood'] == 'Not assigned'
canada_postcodes.loc[no_neighborhood_index,'Neighborhood'] = canada_postcodes[no_neighborhood_index]['Borough']
canada_postcodes[no_neighborhood_index]

  Postcode       Borough  Neighborhood
9      M9A  Queen's Park  Queen's Park

Combining rows with the same borough and neighborhood so that the combined neighborhood is a string with each individual neighborhood separated by comma

In [59]:
can_post_df = canada_postcodes.groupby(['Postcode', 'Borough']).aggregate({'Neighborhood':','.join}).reset_index()
can_post_df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [62]:
print(can_post_df.shape)

(103, 3)

**Part 2:**